{% extends 'Blog/base.html'%}
{% block content %}
<h4 class="smallh4">Welcome to my Blog Contact</h4>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta atque soluta
quibusdam dolorem tenetur ea, recusandae consectetur officiis magnam nulla quis
nisi iure modi reprehenderit aliquam, nesciunt corporis. Dolorem ipsam culpa a
ut odit ab est, dolorum dolores alias a! Nisi est ex praesentium nesciunt vitae
ducimus expedita a impedit maxime vel natus ipsum corrupti laudantium illo
molestiae, debitis, iusto amet maiores reiciendis molestias mollitia!
Perferendis odio amet sed laborum molestias dolor vitae excepturi voluptates,
obcaecati mollitia officia optio. Optio cum maxime, inventore reiciendis aliquid
aliquam quasi quo tempore? Quasi maiores assumenda quos odit dolor velit sunt
tempore! Iste at exercitationem consectetur rem quidem autem dolorum deserunt ea
quis assumenda minima nostrum, modi corrupti vitae iusto porro ipsa velit harum
cumque, voluptate est aspernatur! Quibusdam deserunt similique rem eligendi quo
aspernatur libero laboriosam perferendis. Facilis nulla accusamus aspernatur
voluptatum adipisci quod itaque ut delectus repellat ea sit dolores temporibus
totam eius distinctio impedit non, molestias, expedita,\ odit obcaecati nisi at
eum? Quia, assumenda aliquam? Incidunt id repellendus temporibus deserunt,
voluptatum quod. 
{% endblock content %}